<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./dist/style.css">
</head>

<body>
	<div id="title">Pokemon Dream Team Chooser</div>

    <div class="container">

    	<div id="pkmn1-container">
	    	<div class="pkmn1">
	    		<img class="loading" src="./img/poke-load.gif" />
	    	</div>
	    	
	    	<button class="btn choose-one">Choose</button>
    	</div>

    	<div id="pkmn2-container">
	    	<div class="pkmn2">
	    		<img class="loading" src="./img/poke-load.gif" />
	    	</div>
	    	
	    	<button class="btn choose-two">Choose</button>
    	</div>

    	<div id="pkmn3-container">
	    	<div class="pkmn3">
	    		<img class="loading" src="./img/poke-load.gif" />
	    	</div>
	    	
	    	<button class="btn choose-three">Choose</button>
    	</div>
    </div>

    <div id="team"></div>

    <script type="text/template" id="pokemon-one-template">
	    <div class="pokemon-choice-wrapper">
	    	<img class="pokemon-sprite" src="<%= sprites.front_default %>" />

	    	<div class="pokemon-name"><%= name %></div>
	    </div>
    </script>

    <script type="text/template" id="pokemon-two-template">
	    <div class="pokemon-choice-wrapper">
	    	<img class="pokemon-sprite" src="<%= sprites.front_default %>" />

	    	<div class="pokemon-name"><%= name %></div>
	    </div>
    </script>

    <script type="text/template" id="pokemon-three-template">
	    <div class="pokemon-choice-wrapper">
	    	<img class="pokemon-sprite" src="<%= sprites.front_default %>" />

	    	<div class="pokemon-name"><%= name %></div>
	    </div>
    </script>

    <!-- <script type="text/template" id="pokemon-team-template">
    	<span>hello</span>
    </script> -->
    <script type="text/template" id="pokemon-team-template">
    	<% _.each(pkteam, function (pkmn) { %>
    		<div id="pokemon-team-wrapper">
	    		<img class="pokemon-sprite" src="<%= pkmn.get('sprite') %>" />
	    		<div class="pokemon-name"><%= pkmn.get('name') %></div>
	    	</div>
    	<% }); %>
    </script>

    <script type="text/javascript" src="./dist/app-browserify.js"></script>
</body>

</html>
